/* 

Index
--------

01. Imports
02. Base/Reset
03. Typography
04. Global Elements
05. Utility Classes
06. Layout: Header
07. Layout: Banner
08. Layout: About
09. Layout: Services
10. Layout: Destination
11. Layout: Explore Tour 
12. Layout: Packages
13. Layout: Travel Guide


*/

/* 01. Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* 02. Base/Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --primary-color: #13357b;
    --secondary-color: #f4b942;
    --bg-color-1: #FBFDF9;
    --bg-color-2: #FEF7F4;
    --btn-primary-hover: #F2F2F2;
    --btn-secondary-hover: #008080;
    --text-color: #333;
    --link-color-primary: #F2F2F2;
    --link-color-secondary: #333;
    --link-hover-color: #ff3636;
    --neutral-color: #f0f0f0;
    --overlay-content-color: #fff;
    --btn-secondary-bg: #f2f2f2;
    --text-color-gray: #757575;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--link-color-primary);
    font-weight: 500;
    transition: .3s ease-in-out;
    text-transform: capitalize;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
h1, h2, h3, h4, h5{
    text-transform: capitalize;
}

/* 03. Typography */
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
}

/* 04. Global Elements */
.fix:before, .fix:after{
    content: "";
    clear: both;
    display: table;
}

/* 05. Utility Classes */
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.w-100{
    width: 100%;
}
.pt-10{
    padding-top: 10px;
}
.pb-10{
    padding-bottom: 10px;
}
.pt-15{
    padding-top: 15px;
}
.pb-15{
    padding-bottom: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}
.pt-25{
    padding-top: 25px;
}
.pb-25{
    padding-bottom: 25px;
}
.pt-30{
    padding-top: 30px;
}
.pb-30{
    padding-bottom: 30px;
}
.pt-35{
    padding-top: 35px;
}
.pb-35{
    padding-bottom: 35px;
}
.pt-40{
    padding-top: 40px;
}
.pb-40{
    padding-bottom: 40px;
}
.pt-50{
    padding-top: 50px;
}
.pb-50{
    padding-bottom: 50px;
}
.pt-60{
    padding-top: 60px;
}
.pb-60{
    padding-bottom: 60px;
}
.pt-70{
    padding-top: 70px;
}
.pb-70{
    padding-bottom: 70px;
}
.pt-80{
    padding-top: 80px;
}
.pb-80{
    padding-bottom: 80px;
}

.mt-10{
    margin-top: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mb-15{
    margin-bottom: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}
.mt-35{
    margin-top: 35px;
}
.mb-35{
    margin-bottom: 35px;
}
.mt-40{
    margin-top: 40px;
}
.mb-40{
    margin-bottom: 40px;
}
.mt-50{
    margin-top: 50px;
}
.mb-50{
    margin-bottom: 50px;
}
.mt-60{
    margin-top: 60px;
}
.mb-60{
    margin-bottom: 60px;
}
.mt-70{
    margin-top: 70px;
}
.mb-70{
    margin-bottom: 70px;
}
.mt-80{
    margin-top: 80px;
}
.mb-80{
    margin-bottom: 80px;
}

.btn-primary, .btn-secondary, .btn-tertiary {
	border-radius: 15px;
	display: inline-block;
	font-size: 18px;
    position: relative;
    z-index: 2;
}

.btn-primary, .btn-secondary {
	padding: 10px 25px;
}
.btn-tertiary{
    padding: 5px 15px;
}
.btn-primary, .btn-tertiary {
	background-color: var(--primary-color);
	color: #F2F2F2;
}

.btn-secondary{
    background-color: var(--btn-secondary-bg);
    color: #333;
}

.btn-primary::before, .btn-tertiary::before{
	position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: var(--btn-primary-hover);
    z-index: -2;
	border-radius: 15px;
    transition: .3s ease-in-out;
}
.btn-primary::before{
    width: 0;
    height: 0;
}
.btn-tertiary::before{
    width: 0;
    height: 100%;
}

.btn-secondary::before{
	position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: var(--primary-color);
    z-index: -2;
	border-radius: 15px;
    transition: .3s ease-in-out;
}

.btn-primary:hover::before, .btn-secondary:hover::before{
    width: 100%; 
    height: 100%;
}
.btn-tertiary:hover::before{
    width: 100%; 
}

.btn-primary:hover, .btn-tertiary:hover{
    color: var(--primary-color);
}

.btn-secondary:hover{
    color: var(--link-color-primary);
}

/* Section Title */
.section-title {
  text-align: center;
}
.section-title h5 {
  display: inline-block;
  font-size: 25px;
  color: var(--primary-color);
  text-transform: uppercase;
  position: relative;
}
.section-title h5::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 100%;
    transform: translateY(-50%);
	margin-left: 15px;
    
	height: 2px;
	width: 60px;

	background-color: var(--primary-color);
}
.section-title h5::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
    transform: translateY(-50%);
	margin-right: 15px;

	width: 60px;
	height: 2px;
    
	background-color: var(--primary-color);
}
.section-title h4 {
	font-size: 35px;
}
.section-title p {
	width: 85%;
	margin: 0 auto;
	margin-top: 15px;
}

/* Section Filters */
.section-filters li a.active {
	background-color: var(--primary-color);
    color: var(--link-color-primary);
}
.section-filters li a.active.btn-secondary::before{
    display: none;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.d-flex{
    display: flex;
}
.d-inline-flex{
    display: inline-flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-no-wrap{
    flex-wrap: nowrap;
}

.gap-0{
    gap: 0px;
}
.gap-8{
    gap: 8px;
}
.gap-12{
    gap: 12px;
}
.gap-16{
    gap: 16px;
}
.gap-20{
    gap: 20px;
}
.gap-24{
    gap: 24px;
}
.gap-28{
    gap: 28px;
}
.gap-32{
    gap: 32px;
}

.gap-x-0{
    row-gap: 0px;
}
.gap-x-8{
    row-gap: 8px;
}
.gap-x-12{
    row-gap: 12px;
}
.gap-x-16{
    row-gap: 16px;
}
.gap-x-20{
    row-gap: 20px;
}
.gap-x-24{
    row-gap: 24px;
}
.gap-x-28{
    row-gap: 28px;
}
.gap-x-32{
    row-gap: 32px;
}

.gap-y-0{
    column-gap: 0px;
}
.gap-y-8{
    column-gap: 8px;
}
.gap-y-12{
    column-gap: 12px;
}
.gap-y-16{
    column-gap: 16px;
}
.gap-y-20{
    column-gap: 20px;
}
.gap-y-24{
    column-gap: 24px;
}
.gap-y-28{
    column-gap: 28px;
}
.gap-y-32{
    column-gap: 32px;
}

.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.flex-column-reverse{
    flex-direction: column-reverse;
}

.justify-content-start{
    justify-content: start;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: end;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-evenly{
    justify-content: space-evenly;
}

.align-items-start{
    align-items: start;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: end;
}

.align-content-start{
    align-content: start;
}
.align-content-center{
    align-content: center;
}
.align-content-end{
    align-content: end;
}
.align-content-between{
    align-content: space-between;
}
.align-content-around{
    align-content: space-around;
}
.align-content-evenly{
    align-content: space-evenly;
}

.text-capitalize{
    text-transform: capitalize;
}
.text-lowercase{
    text-transform: lowercase;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-initial{
    text-transform: initial;
}

.text-start{
    text-align: start;
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: end;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

/* 06. Layout: Header */
.header-area{
    position: absolute;
    right: 0;
    left: 0;
    z-index: 999;
}
.header-top-area{
    background-color: var(--primary-color);
}

/* Header Social Links */
.header-social-links li a {
	color: var(--primary-color);
	background-color: var(--bg-color-1);
	text-align: center;

	height: 25px;
	width: 25px;
	line-height: 25px;
	border-radius: 50%;

	display: inline-block;
}
.header-social-links li a:hover, .log-in-area li a:hover, .logo:hover, .menu-item li a:hover{
    color: var(--link-hover-color);
}

/* Position relative for login and menu items */
.log-in-area li, .menu-item li{
    position: relative;
}

/* Dropdown menus: hidden by default, appear on hover with slide-in animation */
.dashboard, .submenu{
	background-color: var(--primary-color);

	padding: 20px 0;

	position: absolute;
    top:25px;
	right: 0;
    z-index: 999;

	opacity: 0;
	transform: translateX(-10px);
	visibility: hidden;

	transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}
.dashboard{
	top:25px;
	width: 210px;
}
.submenu {
	top: 38px;
	width: 400px;
	flex-wrap: wrap;
}
.log-in-area li:hover .dashboard, .menu-item li:hover .submenu{
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

.log-in-area li a i {
  margin-right: 15px;
}

/* Header main */
.header-main {
	border-bottom: 1px solid #808080;
}
.logo, .menu-item li a {
    color: var(--overlay-content-color);
}
.logo i {
	font-size: 35px;
	margin-right: 15px;
}
.logo h4 {
	font-size: 30px;
}

/* Menu links background: hidden by default, appears on hover with slide-in animation */
.menu-item li a {
	padding: 46px 15px 46px;
	position: relative;
	z-index: 2;
}
.menu-item li a::before {
    background-color: var(--primary-color);
    
	width: 100%;
	height: 0;

	position: absolute;
	bottom: 0;
	left: 0;
    z-index: -2;
	content: "";

    visibility: hidden;

    transition: .3s ease-in-out;
}
.menu-item li a:hover::before{
    height: 100%;
    visibility: visible;
}

/* Animated background effect for active menu link on hover */
.menu-item li a.active {
	background: var(--primary-color);
	padding: 12px 25px;
	border-radius: 15px;
    margin-left: 15px;
}
.menu-item li a.active::before {
	position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: var(--btn-primary-hover);
    z-index: -2;
	border-radius: 15px;
    transition: .3s ease-in-out;
}
.menu-item li a.active:hover::before{
    width: 100%; 
    height: 100%;
}
.menu-item li a.active:hover{
    color: var(--primary-color);
}

.menu-item li a i {
	margin-left: 5px;
}

/* Dropdown menu links background: hidden by default, appear on hover with slide-in animation */
.dashboard li a, .submenu li a {
    padding: 10px 15px !important;
    
	display: block;
	position: relative;
	z-index: 2;
}
.dashboard li a::before, .submenu li a::before{
	background-color: var(--btn-secondary-hover);
    border-radius: 5px;

	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
	content: "";

    transform: scale(0);
    transform-origin: right;

    transition: transform 0.5s ease-in-out;
}
.dashboard li a:hover::before, .submenu li a:hover::before{
    transform: scale(1);
}
.dashboard li a:hover, .submenu li a:hover{
    color: var(--link-color);
}

.submenu li {
	width: 49%;
}

/* 07. Layout: Banner */
.bg {
    color: var(--overlay-content-color);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	width: 100%;
	height: 100vh;

	position: relative;
    z-index: 20;
}
.bg::before {
	background-color: #333;
	opacity: 0.6;

	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
    z-index: -2;
	content: "";
}
.banner-content h4 {
    font-size: 25px;
}
.banner-content h1 {
    font-size: 55px;
}
.banner-content p{
	width: 650px;
}

/* 08. Layout: About */
.about-img {
	border: 50px solid;
	border-color: transparent var(--primary-color) transparent var(--primary-color);
}
.about-content {
	padding-left: 30px;
}
.about-title h5 {
	color: var(--primary-color);
	font-size: 25px;

    position: relative;
    display: inline-block;
}
.about-title h5::before {
	content: "";
    
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translateY(-50%);

	width: 60px;
	height: 2px;
	background: var(--primary-color);
	margin-left: 15px;
}

.about-title h2 {
	font-size: 35px;
}
.about-title span.brand-name{
    color: var(--primary-color);
}
.about-title span.tagline {
	display: block;
	font-size: 14px;
	color: var(--text-color-gray);
}
.about-title p{
    color: var(--text-color-gray);
    margin: 40px 0;
}
.about-features li {
	color: var(--text-color-gray);
	flex-basis: 315px;
	padding-left: 25px;

	position: relative;
}
.about-features li::before{
    content: "\f061";
    font-family: "Font Awesome 5 free";
    font-weight: 700;
    color: var(--primary-color);

    position: absolute;
    top: 0;
    left: 0;
}

/* 09. Layout: Services */
.services-area{
    background-color: var(--bg-color-1);
}
.service {
	padding: 30px;
	box-shadow: 5px 5px 4px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease-in-out;
    position: relative;
}
.service:hover {
	box-shadow: 5px 5px #333;
}
.service::before, .service::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;

	width: 2px;
	height: 0;

	background-color: var(--primary-color);
    visibility: hidden;

    transition: .3s ease-in-out;
}
.service::before {
	width: 2px;
}
.service::after {
	height: 2px;
}
.service:hover::before{
    height: 100%;
    visibility: visible;
}
.service:hover::after{
    width: 100%;
    visibility: visible;
}
.service i {
	font-size: 25px;
	color: var(--primary-color);
	position: absolute;
	top: -25px;
	left: 50%;
	height: 50px;
	width: 115px;
	line-height: 50px;
	text-align: center;
	background-color: var(--secondary-color);
	transform: translateX(-50%);
	color: #fff;
    z-index: 999;
    transition: color .3s ease-in-out, transform .4s ease-in-out;
}
.service:hover i{
    color: var(--primary-color);
    transform: translateX(-55%);
}
.service h5{
    font-size: 18px;
}

/* 10. Layout: Destination */
.destination-img {
	position: relative;
    overflow: hidden;
}
.destination-img img{
    transform: scale(1);
    transition: transform .3s ease-in-out;
}
.destination-img img:hover{
     transform: scale(1.1);
}

/* Destination Content: hidden by default, appears on hover with slide in animations */
.destination-content {
	position: absolute;
	bottom: 0;
	left: 40px;
	color: var(--link-color-primary);
	text-align: center;
    visibility: hidden;
    transition: bottom .3s ease-in-out;
}
.destination-img:hover .destination-content{
    visibility: visible;
    bottom: 40px;
}

.destination-content h4 {
	font-size: 22px;
	margin: 5px 0;
}

/* View image: hidden by default, appears on hover with animations*/
.view-img {
	position: absolute;
	content: "";
	top: 15px;
	right: 30px;

	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;

	color: var(--primary-color);
	background-color: var(--link-color-primary);
    z-index: 2;
    transition: right .3s ease-in-out;
    visibility: hidden;
}
.destination-img:hover  a.view-img{
    visibility: visible;
	right: 15px;
}
.view-img::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: .3s ease-in-out;
    visibility: hidden;
    border: 1px solid var(--link-color-primary);
    z-index: -2;
}
.view-img:hover::before{
    visibility: visible;
    width: 100%;
}
.view-img:hover{
    color: var(--link-color-primary);
}

/* Destination Image Overlay*/
.destination-img::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
	opacity: .5;
}

.destination-content a.view-places:hover{
    color: var(--secondary-color);
}

/* 11. Layout: Explore Tour */

.tour-category {
  position: relative;
  overflow: hidden;
  	border-radius: 15px;
}
.tour-category img {
	transform: scale(1);
	transition: transform .3s ease-in-out;
	position: relative;
	z-index: 1;
	border-radius: 15px;
}
.tour-category img:hover{
    transform: scale(1.2);
}

.tour-category::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.5;
  z-index: 2;
  pointer-events: none;
  visibility: hidden;
  transition: .3s ease-in-out;
}
.tour-category:hover::before{
    visibility: visible;
}

.tour-category-content {
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  z-index: 999;
}
.tour-category-content h4 {
  font-size: 24px;
  color: var(--link-color-primary);
}
.tour-category-content a {
  color: var(--link-color-primary);
}
.tour-category-content a:hover{
    color: var(--secondary-color);
}

a.camera i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  color: var(--link-color-primary);
  font-size: 25px;
}
.tour-category:hover a.camera i{
    opacity: 1;
    visibility: visible;
}

.discount {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100px;
	height: 85px;
	background-color: var(--btn-secondary-hover);
	padding: 20px;
	border-radius: 0px 37px 0px 62px;
	color: var(--link-color-primary);
	font-size: 16px;
}

/* 12. Layout: Packages */

.package-img {
	position: relative;
	overflow: hidden;
	border-radius: 20px 20px 0 0;
}

/* Overlay Effect: hidden by default, expands with a slide-in animation on hover */
.package-img::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	border: 0 solid;
	z-index: 33;
	transform: translate(-50%, -50%);
    transition: .75s;
    border-radius: 10px;
    z-index: 3;
    visibility: hidden;
}
.package-img:hover::before{
    border: 300px solid;
    border-color: var(--primary-color);;
    visibility: visible;
    opacity: .5;
}

/* Image zoom-in effect: scales up smoothly on hover */
.package-img img {
  transform: scale(1.1);
  transition: transform .3s ease-in-out;
}
.package-img:hover img {
  transform: scale(1.3);
}

.package-contetn {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid;
    z-index: 3;
    color: var(--link-color-primary);
}
.package-contetn::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--link-color-secondary);
	opacity: 0.3;
	z-index: -2;
}

.package-contetn li {
	padding: 10px 10px;
	border-right: 1px solid;
}
.package-contetn li:last-child{
    border-right: 0;
}
.package-contetn i {
  font-size: 15px;
  margin-right: 8px;
}
.package-contetn span {
  font-size: 15px;
}

.price {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--primary-color);
	padding: 7px 22px;
	color: var(--link-color-primary);
	display: inline-block;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
    z-index: 4;
}

/* Left corner triangle for the price label */
.price::before {
	position: absolute;
	content: "";
	top: 0;
	left: 100%;
	width: 0;
	height: 0;
	border-width: 8px 0 0 8px;
	border-color: transparent transparent transparent var(--primary-color) ;
	border-style: solid;
}

/* Right corner triangle for the price label */
.price::after {
	position: absolute;
	content: "";
	top: 0;
	right: 100%;
	width: 0;
	height: 0;
	border-width: 8px 8px 0 0;
	border-color: transparent var(--primary-color) transparent transparent;
	border-style: solid;
}

.package-details {
  background-color: var(--btn-secondary-bg);
  padding: 30px;
}
.package-details h4 {
  font-size: 25px;
}
.package-details h4 span {
  display: block;
  font-size: 17px;
  color: #757575;
  font-weight: 500;
}
.package-btn {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
}
.package-btn {
	background-color: var(--primary-color);
	display: flex;
	justify-content: space-between;
	padding: 12px 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

/* 13. Layout: Travel Guide */
.travel-guide{
    position: relative;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px;
    border: 2px solid;
}

/* Overlay Effect: hidden by default, appears on hover with slide-in animations */
.travel-guide::before, .travel-guide::after {
	position: absolute;
	content: "";
	left: 0;
	width: 100%;
	height:0;
	background-color: var(--primary-color);
    transition: .3s ease-in-out;
    visibility: hidden;
}

.travel-guide::before {
	top: 0;
	z-index: 2;
	opacity: 0.5;
}
.travel-guide:hover::before{
    visibility: visible;
    height: 70%;
}

.travel-guide::after {
	bottom: 0;
}
.travel-guide:hover::after{
    visibility: visible;
    height: 30%;
}

.guide-img{
    position: relative;
    transition: .3s ease-in-out;
}

/* Image zoom-in effect: scales up smoothly on hover */
.guide-img img{
    transform: scale(1);
}
.travel-guide:hover .guide-img{
    transform: scale(1.1);
}

.travel-guide:hover .guide-content h4{
    color: var(--btn-secondary-bg);
    position: relative;
    z-index: 66;
}

.guide-content {
	background-color: var(--btn-secondary-bg);
	padding: 50px 0 30px;
	position: relative;
}
.guide-social-links {
	border: 1px solid var(--primary-color);
	border-radius: 20px;
	width: 72%;
	margin: 0 auto 30px;
	padding: 10px;
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	background: var(--btn-secondary-bg);
    z-index: 3;
}
.guide-social-links li a i {
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    transition: .3s ease-in-out;
}
.guide-content h4 {
    font-size: 18px;
}
.guide-content h4 span {
    display: block;
    font-size: 16px;
    color: #757575;
}

.guide-social-links li a:hover i {
	background-color: var(--btn-primary-hover);
	border: 1px solid var(--primary-color);
    color: var(--primary-color);
}


/* .guide-img::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: var(--primary-color);
	opacity: 0.5;
	visibility: hidden;
    transition: .3s ease-in-out;
    border-radius: 20px 20px 0 0;
}

.travel-guide:hover::before{
    visibility: visible;
	height: 100%;
    border-radius: 20px 20px 0 0;
} */